*{
	font-family: Helvetica;

}

.main-body{
	margin: auto;
	width: 80%;
	position: relative;
	top: 20px;
	background-color: #CCD6E0;
}

.upper-body{
	margin: auto;
	width: 80%;
	position: relative;
	top: 100px;
	background-color: white;
	border-radius: 25px
}

#header1{
	font-size: 40px;
	color: white;
	background-color: #A31919;
	font-family: Helvetica;
	padding-top: 20px;
	padding-bottom: 20px
}

#header-table{
	position: fixed;
	right: 10%;
	display: block;
	border-radius: 12px;
	color:  white;
	background-color: #A31919;
}

#header-table a{
	color: white;
	font-size: 32px;
	margin-left:  5px;
	margin-right: 5px;
	text-decoration: none;

}

td a{
	display: inline-block;
	margin: 5px 10px 5px 10px;
}

#head-wrapper{
	border-radius: 25px
	width: 80%;
}

h1{
	color: white;
	background-color: #A31919;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 0px

}

#head-image{
	margin-top: 0px;
	margin-bottom:  30px;
	width: 100%;
}

#center{
	text-align: center;
}

.chunk{
	display: inline-block;
	margin: 25px 100px 25px 100px;
	width: 25%;
	height: 350px;
	vertical-align: top;
	overflow: hidden;
	background-color: #939AA2;
	border-radius: 12px;
}

.chunk-img{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	width:  100%;
	height: 150px;
}

.chunk-p{
	top: 80px;
	display: inline-block;
	text-align: left;
	font-size: 24px;

}

.chunk-link{
	width: 100%;
	height: 100px;
	display: inline-block;
	vertical-align: center;
	border-radius: 12px;
	color: white;
	background-color: #A31919;
	text-decoration: none;
}

.chunk-link a{
	font-size: 28px;
	position: relative;
  	top: 40%;
  	text-decoration: none;
  	color: white;
}

.link-box{
	color: red;
}

#footer-table{
	display: block;
	border-radius: 12px;
	color:  white;
	background-color: #A31919;
	text-decoration: none;
}

#footer-table a{
	color: white;
	font-size: 24px;
	margin-left:  5px;
	margin-right: 5px;
	text-decoration: none;

}
