*{
	font-family: Arial;
}

.main-body{
	margin: auto;
	width: 80%;
	position: relative;
	top: 100px;
}

#header-table{
	position: fixed;
	right: 10%;
	display: block;
}

#header-table a{
	color: black;
	font-size: 28px;
	margin-left:  5px;
	margin-right: 5px;
	text-decoration: none;
}

td a{
	display: inline-block;
	margin: 5px 10px 5px 10px;
}

h1{

}

#head-image{
	margin-top: 5px;
	margin-bottom:  30px;
	width: 100%;
}

#center{
	text-align: center;
}

.chunk{
	display: inline-block;
	margin: 25px 100px 25px 100px;
	width: 25%;
	height: 400px;
	vertical-align: top;
	overflow: hidden;
}

.chunk-img{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	width:  100%;
	height: 150px;
}

.chunk-p{
	text-align: left;
	font-size: 24px;
}

.chunk-link{
	width: 100%;
	height: 100px;
	display: inline-block;
	vertical-align: center;
	background-color: #D3D3D3;

}

.chunk-link a{
	font-size: 28px;
	position: relative;
  	top: 40%;
  	text-decoration: none;
}

.link-box{
	color: red;
}
